In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time

In [2]:
#from webdriver_manager.chrome import ChromeDriverManager
#executable_path = {'executable_path': ChromeDriverManager().install()}
#print(executable_path)

{'executable_path': '/Users/cassie/.wdm/drivers/chromedriver/mac64/117.0.5938.92/chromedriver-mac-x64/chromedriver'}

In [3]:
# Alternate to chrome executable path using selenium Service
from selenium.webdriver.chrome.service import Service

In [4]:
my_service = Service(executable_path=r'/Users/cassie/.wdm/drivers/chromedriver/mac64/117.0.5938.92/chromedriver-mac-x64/chromedriver')

In [2]:
browser = Browser('chrome')#, service=my_service)

In [3]:
url = 'https://www.planecrashinfo.com/database.htm'
browser.visit(url)

In [4]:
df = pd.DataFrame(columns=['date', 'time', 'location','operator','aboard','fatalities'])
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
year_list = browser.links.find_by_partial_href('/')
year = 1920
#tried to slow it down so it didnt crash, dont think this is the right location cuz it didnt work
for x in range(year,2023):
    url_text = 'https://www.planecrashinfo.com/'+str(x)+'/'+str(x)+'.htm'
    print(url_text)
    browser.visit(url_text)
    event_list = browser.links.find_by_partial_href('-')
    for event in event_list:
        time.sleep(1)
        event.click()
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        date = soup.find("td", string="Date:").find_next('td').text
        time = soup.find("td", string="Time:").find_next('td').text
        location = soup.find("td", string="Location:").find_next('td').text
        operator = soup.find("td", string="Operator:").find_next('td').text
        aboard_temp = soup.find("td", string="Aboard:").find_next('td').text
        aboard = aboard_temp.split(' ',1)[0]
        fatalities_temp = soup.find("td", string="Fatalities:").find_next('td').text
        fatalities = fatalities_temp.split(' ',1)[0]
        new_row = {'date':date,'time':time,'location':location,'operator':operator,'aboard':aboard,'fatalities':fatalities}
        print(new_row)
        new_row_df = pd.DataFrame([new_row])
        df = pd.concat([df, new_row_df])
        browser.back()

https://www.planecrashinfo.com/1920/1920.htm
{'date': 'September 17, 1908', 'time': '1718', 'location': 'Fort Myer, Virginia', 'operator': 'Military - U.S. Army', 'aboard': '2', 'fatalities': '1'}
{'date': 'September 07, 1909', 'time': '?', 'location': 'Juvisy-sur-Orge, France', 'operator': '?', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 12, 1912', 'time': '0630', 'location': 'Atlantic City, New Jersey', 'operator': 'Military - U.S. Navy', 'aboard': '5', 'fatalities': '5'}
{'date': 'August 06, 1913', 'time': '?', 'location': 'Victoria, British Columbia, Canada', 'operator': 'Private', 'aboard': '1', 'fatalities': '1'}
{'date': 'September 09, 1913', 'time': ' 1830', 'location': 'Over the North Sea', 'operator': 'Military - German Navy', 'aboard': '20', 'fatalities': '14'}
{'date': 'October 17, 1913', 'time': '1030', 'location': 'Near Johannisthal, Germany', 'operator': 'Military - German Navy', 'aboard': '28', 'fatalities': '28'}
{'date': 'March 05, 1915', 'time': '0100', 'location': 'Tienen, Belgium', 'operator': 'Military - German Navy', 'aboard': '41', 'fatalities': '17'}
{'date': 'September 03, 1915', 'time': '1520', 'location': 'Off Cuxhaven, Germany', 'operator': 'Military - German Navy', 'aboard': '19', 'fatalities': '19'}
{'date': 'July 28, 1916', 'time': '?', 'location': 'Near Jambol, Bulgeria', 'operator': 'Military - German Army', 'aboard': '20', 'fatalities': '20'}
{'date': 'September 24, 1916', 'time': ' 0100', 'location': 'Billericay, England', 'operator': 'Military - German Navy', 'aboard': '22', 'fatalities': '22'}
{'date': 'October 01, 1916', 'time': '2345', 'location': 'Potters Bar, England', 'operator': 'Military - German Navy', 'aboard': '19', 'fatalities': '19'}
{'date': 'November 21, 1916', 'time': '?', 'location': 'Mainz, Germany', 'operator': 'Military - German Army', 'aboard': '28', 'fatalities': '27'}
{'date': 'November 28, 1916', 'time': ' 2345', 'location': 'Off West Hartlepool, England', 'operator': 'Military - German Navy', 'aboard': '20', 'fatalities': '20'}
{'date': 'March 04, 1917', 'time': '?', 'location': 'Near Gent, Belgium', 'operator': 'Military - German Army', 'aboard': '20', 'fatalities': '20'}
{'date': 'March 30, 1917', 'time': '?', 'location': 'Off Northern Germany', 'operator': 'Military - German Navy', 'aboard': '23', 'fatalities': '23'}
{'date': 'May 14, 1917', 'time': '0515', 'location': 'Near Texel Island, North Sea', 'operator': 'Military - German Navy', 'aboard': '21', 'fatalities': '21'}
{'date': 'June 14, 1917', 'time': '0845', 'location': 'Off Vlieland Island, North Sea', 'operator': 'Military - German Navy', 'aboard': '24', 'fatalities': '24'}
{'date': 'June 17, 1917', 'time': '?', 'location': 'Near Yarmouth, England', 'operator': '?', 'aboard': '16', 'fatalities': '14'}
{'date': 'August 21, 1917', 'time': '0700', 'location': 'Off western Denmark', 'operator': 'Military - German Navy', 'aboard': '18', 'fatalities': '18'}
{'date': 'October 20, 1917', 'time': '0745', 'location': 'Near Luneville, France', 'operator': 'Military - German Navy', 'aboard': '18', 'fatalities': '18'}
{'date': 'April 07, 1918', 'time': '2130', 'location': 'Over the Mediterranean', 'operator': 'Military - German Navy', 'aboard': '23', 'fatalities': '23'}
{'date': 'August 05, 1918', 'time': '?', 'location': 'Off Helgoland Island, Germany', 'operator': 'Military - German Navy', 'aboard': '22', 'fatalities': '22'}
{'date': 'August 11, 1918', 'time': '1000', 'location': 'Ameland Island, North Sea', 'operator': 'Military - German Navy', 'aboard': '19', 'fatalities': '19'}
{'date': 'December 16, 1918', 'time': '?', 'location': 'Elizabeth, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'May 25, 1919', 'time': '?', 'location': 'Cleveland, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 19, 1919', 'time': '?', 'location': 'Dix Run, Pennsylvania', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 21, 1919', 'time': '1655', 'location': 'Chicago, Illinois', 'operator': 'Wingfoot Air Express Goodyear Tire', 'aboard': '?', 'fatalities': '3'}
{'date': 'August 02, 1919', 'time': '?', 'location': 'Verona, Italy', 'operator': 'Caproni Company', 'aboard': '14', 'fatalities': '14'}
{'date': 'October 02, 1919', 'time': '?', 'location': 'Newcastle, England', 'operator': 'Aircraft Transport and Travel', 'aboard': '1', 'fatalities': '1'}
{'date': 'October 14, 1919', 'time': '?', 'location': 'Cantonsville, Maryland', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'October 20, 1919', 'time': '?', 'location': 'English Channel off Forkstone, Kent', 'operator': 'Aircraft Transport and Travel', 'aboard': '0', 'fatalities': '0'}
{'date': 'October 30, 1919', 'time': '?', 'location': 'Long Valley, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 11, 1919', 'time': '?', 'location': 'Catherham, Surrey, UK', 'operator': 'Aircraft Travel Transport', 'aboard': '1', 'fatalities': '1'}
{'date': 'March 10, 1920', 'time': '?', 'location': 'New Paris, Indiana', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'March 30, 1920', 'time': '?', 'location': 'Newark, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'April 10, 1920', 'time': '?', 'location': 'Newark, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '2', 'fatalities': '1'}
{'date': 'April 11, 1920', 'time': '?', 'location': 'Heller Field, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '2', 'fatalities': '1'}
{'date': 'May 12, 1920', 'time': '?', 'location': 'Oskaloosa, Iowa', 'operator': 'US Aerial Mail Service', 'aboard': '2', 'fatalities': '1'}
{'date': 'June 06, 1920', 'time': '?', 'location': 'Cleveland, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 20, 1920', 'time': '?', 'location': 'Cartagena, Columbia', 'operator': 'Compañia Colombiana de Navegación Aérea', 'aboard': '1', 'fatalities': '1'}
{'date': 'August 16, 1920', 'time': '?', 'location': 'Bedford, England', 'operator': 'By Air', 'aboard': '1', 'fatalities': '1'}
{'date': 'August 16, 1920', 'time': '?', 'location': 'College Park, Maryland', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'September 01, 1920', 'time': '?', 'location': 'Morristown, New Jersey', 'operator': 'US Aerial Mail Service', 'aboard': '2', 'fatalities': '2'}
{'date': 'September 15, 1920', 'time': '?', 'location': 'Pemberville, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '2', 'fatalities': '2'}
{'date': 'September 27, 1920', 'time': '?', 'location': 'Hillersburg, Pennsylvania', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'October 02, 1920', 'time': '?', 'location': 'Off Port Vendres, France', 'operator': 'Latecoere Airlines', 'aboard': '2', 'fatalities': '2'}
{'date': 'October 05, 1920', 'time': '?', 'location': 'Valencia, Spain', 'operator': 'Latecoere Airlines', 'aboard': '2', 'fatalities': '2'}
{'date': 'October 15, 1920', 'time': '?', 'location': 'Batavia, Illinois', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'November 07, 1920', 'time': '?', 'location': 'Tie Siding, Wyoming', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 14, 1920', 'time': '1215', 'location': 'London, England', 'operator': 'Handley Page Transport', 'aboard': '8', 'fatalities': '4'}
{'date': 'December 24, 1920', 'time': '?', 'location': 'Barcelona, Spain', 'operator': 'Aeropostale', 'aboard': '1', 'fatalities': '1'}
https://www.planecrashinfo.com/1921/1921.htm
{'date': 'February 03, 1921', 'time': '?', 'location': 'Mendotta, Minnisota', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'February 09, 1921', 'time': '?', 'location': 'La Crosse, Wisconsin', 'operator': 'US Aerial Mail Service', 'aboard': '3', 'fatalities': '3'}
{'date': 'February 15, 1921', 'time': '?', 'location': 'Off Gibraltar', 'operator': 'Aeropostale', 'aboard': '2', 'fatalities': '2'}
{'date': 'February 22, 1921', 'time': '?', 'location': 'Elko, Nevada', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}

{'date': 'April 06, 1921', 'time': '?', 'location': 'Point Cook, Australia', 'operator': 'Military - Royal Australian Air Force', 'aboard': '2', 'fatalities': '2'}
{'date': 'April 21, 1921', 'time': '?', 'location': 'Mitchel Field, NY', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'April 29, 1921', 'time': '?', 'location': 'Cleveland, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'May 17, 1921', 'time': '?', 'location': 'Rock Springs, Wyoming', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'August 14, 1921', 'time': '?', 'location': 'Toulouse, France', 'operator': 'Aeropostale', 'aboard': '2', 'fatalities': '2'}
{'date': 'August 24, 1921', 'time': '1740', 'location': 'River Humber, England', 'operator': 'Military - Royal Airship Works', 'aboard': '49', 'fatalities': '43'}
{'date': 'September 06, 1921', 'time': '?', 'location': 'Paris, France', 'operator': 'Franco-Roumaine', 'aboard': '5', 'fatalities': '5'}
{'date': 'December 05, 1921', 'time': '?', 'location': 'Near Murchinson River, Australia', 'operator': 'West Australian Airways', 'aboard': '2', 'fatalities': '2'}
https://www.planecrashinfo.com/1922/1922.htm
{'date': 'January 14, 1922', 'time': '?', 'location': 'Paris, France', 'operator': 'Handley Page Transport', 'aboard': '5', 'fatalities': '5'}
{'date': 'February 21, 1922', 'time': '?', 'location': 'Near Norfolk, Virginia', 'operator': 'Military - U.S. Army Air Service', 'aboard': '45', 'fatalities': '34'}
{'date': 'March 22, 1922', 'time': '1140', 'location': 'North Atlantic Ocean', 'operator': 'Aero Limited', 'aboard': '6', 'fatalities': '5'}
{'date': 'April 07, 1922', 'time': '1315', 'location': 'Grandvilliers, France', 'operator': 'Daimler Airways / Grands Express Aeriens', 'aboard': '7', 'fatalities': '7'}
{'date': 'April 08, 1922', 'time': '?', 'location': 'Pao Ting Fou, China', 'operator': '?', 'aboard': '17', 'fatalities': '17'}
{'date': 'June 03, 1922', 'time': '?', 'location': 'Off Folkestone, Kent, England', 'operator': 'Cie des Messageries Aeriennes', 'aboard': '3', 'fatalities': '3'}
{'date': 'July 04, 1922', 'time': '?', 'location': 'Fuhlsbuttel, Germany', 'operator': '?', 'aboard': '3', 'fatalities': '2'}
{'date': 'July 16, 1922', 'time': '1645', 'location': 'Near Saverne, Lorraine, France', 'operator': 'Compagnie Franco-Roumaine de Navigaation Aerienne', 'aboard': '5', 'fatalities': '5'}
{'date': 'July 26, 1922', 'time': '?', 'location': 'Cadix, Spain', 'operator': 'Grands Express Aeriens', 'aboard': '3', 'fatalities': '3'}
{'date': 'September 07, 1922', 'time': '?', 'location': 'Indianapolis, Indiana', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'October 02, 1922', 'time': '?', 'location': 'Venice, Italy', 'operator': 'de Havilland Air Service', 'aboard': '4', 'fatalities': '4'}
{'date': 'October 25, 1922', 'time': '?', 'location': 'Larache, Morocco', 'operator': 'Grands Express Aeriens', 'aboard': '2', 'fatalities': '2'}
{'date': 'December 03, 1922', 'time': '?', 'location': 'Fez, Morocco', 'operator': 'Grands Express Aeriens', 'aboard': '1', 'fatalities': '1'}
https://www.planecrashinfo.com/1923/1923.htm
{'date': 'January 10, 1923', 'time': '?', 'location': 'Ajaccio, France', 'operator': "Amee de l'Air", 'aboard': '4', 'fatalities': '3'}
{'date': 'January 17, 1923', 'time': '?', 'location': 'Barcelona, Spain', 'operator': 'Grands Express Aeriens', 'aboard': '1', 'fatalities': '1'}
{'date': 'January 18, 1923', 'time': '?', 'location': 'Cheyenne, Wyoming', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'February 26, 1923', 'time': '?', 'location': 'Meadville, Pennsylvania', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'May 14, 1923', 'time': '1342', 'location': 'Near Amiens, Picrdie, France', 'operator': 'Grands Express Aeriens (Air Union)', 'aboard': '6', 'fatalities': '6'}
{'date': 'August 27, 1923', 'time': '1730', 'location': 'East Mallling, United Kingdom', 'operator': 'Air Union', 'aboard': '11', 'fatalities': '1'}
{'date': 'August 27, 1923', 'time': '?', 'location': 'Bucharest, Romania', 'operator': 'Campagnie France Roumaine', 'aboard': '2', 'fatalities': '2'}
{'date': 'September 07, 1923', 'time': '?', 'location': 'Colton, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'September 14, 1923', 'time': 'c 18:00', 'location': 'Near Ivinghoe, Buckinghamshire, England', 'operator': 'Daimler Airways', 'aboard': '5', 'fatalities': '5'}
{'date': 'November 18, 1923', 'time': '?', 'location': 'Russia', 'operator': 'CCCP', 'aboard': '5', 'fatalities': '3'}
{'date': 'December 06, 1923', 'time': '?', 'location': 'Castalia, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 23, 1923', 'time': 'c 02:30', 'location': 'Over the Mediterranean Sea', 'operator': 'Military - French Navy', 'aboard': '52', 'fatalities': '52'}
{'date': 'December 24, 1923', 'time': '?', 'location': 'Egbert, WY', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
https://www.planecrashinfo.com/1924/1924.htm
{'date': 'March 07, 1924', 'time': '?', 'location': 'Grampian, Pennsylvania', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'April 24, 1924', 'time': '?', 'location': 'Over the English Channel', 'operator': 'KLM Royal Dutch Airlines', 'aboard': '3', 'fatalities': '3'}
{'date': 'June 08, 1924', 'time': '?', 'location': 'Barranquilla, Colombia', 'operator': 'SCADTA', 'aboard': '5', 'fatalities': '5'}
{'date': 'August 01, 1924', 'time': '?', 'location': 'United States', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'November 06, 1924', 'time': '?', 'location': 'Cabrerolles, France', 'operator': 'Grands Express Aeriens', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 21, 1924', 'time': '?', 'location': 'Goshen, Indiana', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 24, 1924', 'time': 'c 12:00', 'location': 'Purley, England', 'operator': 'Imperial Airways', 'aboard': '8', 'fatalities': '8'}
https://www.planecrashinfo.com/1925/1925.htm
{'date': 'March 22, 1925', 'time': '?', 'location': 'Near Tiflis, Georgia, USSR', 'operator': 'Zakavia', 'aboard': '5', 'fatalities': '5'}
{'date': 'April 25, 1925', 'time': '?', 'location': 'Alicante, Spain', 'operator': 'Grands Express Aeriens', 'aboard': '3', 'fatalities': '3'}
{'date': 'June 25, 1925', 'time': '?', 'location': 'Landrécies, France', 'operator': 'KLM Royal Dutch Airlines', 'aboard': '4', 'fatalities': '4'}
{'date': 'June 26, 1925', 'time': '?', 'location': 'Alicante, Spain', 'operator': 'Grands Express Aeriens', 'aboard': '2', 'fatalities': '2'}
{'date': 'July 20, 1925', 'time': '?', 'location': 'Rosas, Spain', 'operator': 'Lignes Aeriennes Latecoere', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 24, 1925', 'time': '?', 'location': 'Budapest, Hungary', 'operator': 'CIDNA', 'aboard': '1', 'fatalities': '1'}
{'date': 'September 03, 1925', 'time': '0530', 'location': 'Caldwell, Ohio', 'operator': 'Military - U.S. Navy', 'aboard': '43', 'fatalities': '14'}
{'date': 'September 07, 1925', 'time': '?', 'location': 'Toul, France', 'operator': 'CIDNA', 'aboard': '?', 'fatalities': '?'}
{'date': 'October 01, 1925', 'time': '?', 'location': 'Mt. Nittany, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'November 14, 1925', 'time': '?', 'location': 'Nouadhibou, Mauritania', 'operator': 'Lignes Aeriennes Latecoere', 'aboard': '1', 'fatalities': '1'}
{'date': 'November 14, 1925', 'time': '?', 'location': 'Off Boulogne-sur-Mer, France', 'operator': 'Air Union', 'aboard': '2', 'fatalities': '2'}
https://www.planecrashinfo.com/1926/1926.htm
{'date': 'February 12, 1926', 'time': '?', 'location': 'Montpelier, Ohio', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'March 08, 1926', 'time': '?', 'location': 'Staaken, Germany', 'operator': 'Deutche Lufthansa', 'aboard': '1', 'fatalities': '1'}
{'date': 'May 31, 1926', 'time': '?', 'location': 'English Channel', 'operator': 'Air Union', 'aboard': '1', 'fatalities': '1'}

{'date': 'July 03, 1926', 'time': '?', 'location': 'Rossaugpt, Czechoslovakia', 'operator': 'Compagnie Internationale de Navigation Aérienne', 'aboard': '6', 'fatalities': '6'}
{'date': 'July 09, 1926', 'time': '0930', 'location': 'Wolvertem, Belgium', 'operator': 'KLM Royal Dutch Airlines', 'aboard': '2', 'fatalities': '2'}
{'date': 'July 24, 1926', 'time': '?', 'location': 'Juist, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '5', 'fatalities': '5'}
{'date': 'August 18, 1926', 'time': '?', 'location': 'Hurst, Kent, England', 'operator': 'Air Union', 'aboard': '15', 'fatalities': '3'}
{'date': 'September 26, 1926', 'time': '?', 'location': 'New York, New York', 'operator': '?', 'aboard': '5', 'fatalities': '2'}
{'date': 'October 02, 1926', 'time': '1527', 'location': 'Leigh, Kent, Unied Kingdom', 'operator': 'Air Union', 'aboard': '7', 'fatalities': '7'}
{'date': 'October 08, 1926', 'time': '?', 'location': 'Bueren, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '4', 'fatalities': '4'}
{'date': 'October 21, 1926', 'time': 'c 13:15', 'location': 'English Channel', 'operator': 'Imperial Airways', 'aboard': '12', 'fatalities': '0'}
{'date': 'November 11, 1926', 'time': '0800', 'location': 'Cape Bojador, Morocco', 'operator': 'Grands Express Aeriens', 'aboard': '3', 'fatalities': '3'}
{'date': 'December 16, 1926', 'time': '?', 'location': 'Medford, Oregon', 'operator': 'Pacific Air Transport', 'aboard': '1', 'fatalities': '1'}
https://www.planecrashinfo.com/1927/1927.htm
{'date': 'January 12, 1927', 'time': '?', 'location': 'Estaires, France', 'operator': 'Fokker', 'aboard': '0', 'fatalities': '0'}
{'date': 'March 20, 1927', 'time': '?', 'location': 'Rabat, Morocco', 'operator': 'Grands Express Aeriens', 'aboard': '1', 'fatalities': '1'}
{'date': 'March 24, 1927', 'time': '?', 'location': 'Tambo, Qld, Australia', 'operator': 'Qantas', 'aboard': '3', 'fatalities': '3'}
{'date': 'April 15, 1927', 'time': '?', 'location': 'King Hill, Idaho', 'operator': 'Varney Air Lines', 'aboard': '1', 'fatalities': '1'}
{'date': 'April 22, 1927', 'time': '?', 'location': 'Floh, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '2', 'fatalities': '2'}
{'date': 'April 22, 1927', 'time': '?', 'location': 'Goshen, Indiana', 'operator': 'US Aerial Mail Service', 'aboard': '1', 'fatalities': '1'}
{'date': 'May 02, 1927', 'time': '?', 'location': 'Algiers, Algeria', 'operator': 'Air Union', 'aboard': '3', 'fatalities': '1'}
{'date': 'July 27, 1927', 'time': '?', 'location': 'Amoneburg, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '5', 'fatalities': '5'}
{'date': 'August 22, 1927', 'time': ' 0830', 'location': 'Sevenoaks, England', 'operator': 'KLM Royal Dutch Airlines', 'aboard': '11', 'fatalities': '1'}
{'date': 'September 03, 1927', 'time': '?', 'location': 'Willington, Connecticut', 'operator': 'Colonial Air Transport', 'aboard': '1', 'fatalities': '1'}
{'date': 'September 17, 1927', 'time': '?', 'location': 'Hadley, New Jersey', 'operator': 'Reynolds Airways', 'aboard': '12', 'fatalities': '7'}
{'date': 'September 17, 1927', 'time': '0405', 'location': 'Atlantic Ocean', 'operator': 'Private', 'aboard': '3', 'fatalities': '3'}
{'date': 'September 23, 1927', 'time': '10:00', 'location': 'Schleiz, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '6', 'fatalities': '6'}
{'date': 'October 06, 1927', 'time': '?', 'location': 'Thies, Mauritania', 'operator': 'Lignes Aeriennes Latecoere', 'aboard': '2', 'fatalities': '2'}
{'date': 'October 30, 1927', 'time': '?', 'location': 'New Brunswick, New Jersey', 'operator': 'Colonial Air Transport', 'aboard': '4', 'fatalities': '4'}
{'date': 'November 08, 1927', 'time': '?', 'location': 'Strasburg, France', 'operator': 'CIDNA', 'aboard': '1', 'fatalities': '1'}
{'date': 'November 16, 1927', 'time': '?', 'location': 'Over the Gulf of Finland', 'operator': 'Aero O-Y', 'aboard': '6', 'fatalities': '6'}
{'date': 'November 29, 1927', 'time': '?', 'location': 'Corunna, Indiana', 'operator': 'National Air Transport', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 28, 1927', 'time': '?', 'location': 'Almeria, Spain', 'operator': 'Aeropostale', 'aboard': '1', 'fatalities': '1'}
{'date': 'December 31, 1927', 'time': '?', 'location': 'Near Marseille,France', 'operator': 'Latecoere Airlines', 'aboard': '5', 'fatalities': '5'}
https://www.planecrashinfo.com/1928/1928.htm
{'date': 'January 08, 1928', 'time': '?', 'location': 'Near Canajoharie, New York', 'operator': 'Colonial Western Airlines', 'aboard': '3', 'fatalities': '3'}
{'date': 'January 16, 1928', 'time': '?', 'location': 'Solis, Uruguay', 'operator': 'Aeropostale', 'aboard': '2', 'fatalities': '2'}
{'date': 'January 22, 1928', 'time': '?', 'location': "L'Hospitalet, Ariège", 'operator': 'Aeropostale', 'aboard': '1', 'fatalities': '1'}
{'date': 'January 22, 1928', 'time': '?', 'location': 'Tarragona, Spain', 'operator': 'Aeropostale', 'aboard': '2', 'fatalities': '2'}
{'date': 'January 27, 1928', 'time': '?', 'location': 'Almeria, Spain', 'operator': 'Aeropostale', 'aboard': '1', 'fatalities': '1'}
{'date': 'February 26, 1928', 'time': '?', 'location': 'Marquette, Nebraska', 'operator': 'Boeing Air Transport', 'aboard': '2', 'fatalities': '1'}
{'date': 'March 11, 1928', 'time': '?', 'location': 'Off Cape Griz Nez, France', 'operator': 'Air Union', 'aboard': '2', 'fatalities': '2'}
{'date': 'April 17, 1928', 'time': '?', 'location': 'Federal, Wyoming', 'operator': 'Boeing Air Transport', 'aboard': '2', 'fatalities': '1'}
{'date': 'April 19, 1928', 'time': '?', 'location': 'Minuesa, Spain', 'operator': 'Iberia Airlines', 'aboard': '9', 'fatalities': '9'}
{'date': 'May 07, 1928', 'time': '?', 'location': 'Florianopolis, Brazil\nFlorianopolis, Brazil\nFlorianopolis, Brazil', 'operator': 'Aeropostale', 'aboard': '5', 'fatalities': '1'}
{'date': 'May 12, 1928', 'time': '?', 'location': 'Dearborn, Minnesota', 'operator': 'Ford Air Freight Inc.', 'aboard': '2', 'fatalities': '2'}
{'date': 'May 26, 1928', 'time': '?', 'location': 'Radevormwald, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '5', 'fatalities': '3'}
{'date': 'June 14, 1928', 'time': '?', 'location': 'Frankfurt, Germany', 'operator': 'Deutsche Lufthansa', 'aboard': '5', 'fatalities': '5'}
{'date': 'June 22, 1928', 'time': '?', 'location': 'Lebo, Kansas', 'operator': 'National Air Transport', 'aboard': '1', 'fatalities': '1'}
{'date': 'July 10, 1928', 'time': '?', 'location': 'Over the Gulf of Finland', 'operator': 'Aero O-Y', 'aboard': '6', 'fatalities': '6'}
{'date': 'July 13, 1928', 'time': '?', 'location': 'Purley, England', 'operator': 'Imperial Airways', 'aboard': '6', 'fatalities': '4'}
{'date': 'July 24, 1928', 'time': '14:48', 'location': 'Waalhaven, Netherlands', 'operator': 'KLM Royal Dutch Airlines', 'aboard': '6', 'fatalities': '1'}
{'date': 'August 25, 1928', 'time': 'c 11:00', 'location': 'Near Port Townsend, BC, Canada', 'operator': 'British Columbia Airways', 'aboard': '7', 'fatalities': '7'}

AttributeError: 'NoneType' object has no attribute 'find_next'

In [8]:
df

,date,time,location,operator,aboard,fatalities
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,2,1
0,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,1,1
0,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,5,5
0,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,1,1
0,"September 09, 1913",1830,Over the North Sea,Military - German Navy,20,14
...,...,...,...,...,...,...
0,"March 30, 1929",09:18,"Near Beaumont, California",New Standard Airlines,4,4
0,"April 21, 1929",1145,"San Diego, California",Maddux Airlines / Military - U.S.Army Air Force,6,6
0,"May 09, 1929",?,"Tampico, Mexico",Mexicana,5,5
0,"May 18, 1929",?,"Tököl, Pest Hungary",MALERT,2,2
0,"May 22, 1929",?,Algiers,Aeropostale,6,4

In [11]:
from geopy.geocoders import Nominatim

In [12]:
df['location'] = df['location'].astype(str)
print (type(df['location'].iloc[0]))
df = df.reset_index(drop=True)

<class 'str'>

In [13]:
geolocator = Nominatim(timeout=10, user_agent = "jimmy")
location = geolocator.geocode('Victoria, Capital Regional District, British Columbia, Canada')
print(location)
print((location.latitude, location.longitude))
#to test for append accuracy

Victoria, Capital Regional District, British Columbia, Canada
(48.4283182, -123.3649533)

In [18]:
#lats = np.array([])
#lons = np.array([])

locations = []

geolocator = Nominatim(timeout=10, user_agent = "jimmy")
for index, row in df.iterrows():
    location = geolocator.geocode(row['location'])
    print(location)   #got it to itterate thru correctly but getting stuck on nones. using this as reference and copied below
    #if location != "none":                    
        #lats = np.append(location.latitude, lats)
        #lons = np.append(location.longitude, lons)
    try:
        location_dict = {
            "location": location,
            "lat": location.latitude,
            "lon": location.longitude
        }
        #print(location.latitude)
        #print(location.longitude)
        #print(location)
        locations.append(location_dict)
        print("---")
    except AttributeError:
        print(f'Skipping: {location}')
        continue
    #else:
    #lats = np.append(location.latitude, '0')
    #lons = np.append(location.longitude, "0")

North Fort Myer Drive, Rosslyn, Arlington, Arlington County, Virginia, 22209, United States
---
Juvisy-sur-Orge, Palaiseau, Essonne, Île-de-France, France métropolitaine, 91260, France
---
Atlantic City, Atlantic County, New Jersey, 08401, United States
---
Victoria, Capital Regional District, British Columbia, Canada
---
None
Skipping: None
None
Skipping: None
Tienen, Leuven, Vlaams-Brabant, Vlaanderen, 3300, België / Belgique / Belgien
---
None
Skipping: None
None
Skipping: None
Billericay, Basildon, Essex, England, United Kingdom
---
Potters Bar, Hertsmere, Hertfordshire, England, EN6 1QG, United Kingdom
---
Mainz, Rheinland-Pfalz, Deutschland
---
None
Skipping: None
None
Skipping: None
None
Skipping: None
None
Skipping: None
None
Skipping: None
None
Skipping: None
Brainy Cut Off, Hazelvale, Shire Of Denmark, Western Australia, Australia
---
None
Skipping: None
None
Skipping: None
None
Skipping: None
None
Skipping: None
Elizabeth, Union County, New Jersey, United States
---
Cleveland, Cuyahoga County, Ohio, United States
---
Dix Run Road, Union Township, Centre County, Pennsylvania, 16844, United States
---
Chicago, Cook County, Illinois, United States
---
Verona, Veneto, 37121-37142, Italia
---
Newcastle upon Tyne, North of Tyne, England, United Kingdom
---
None
Skipping: None
None
Skipping: None
Washington Township, Morris County, New Jersey, United States, Long Valley
---
None
Skipping: None
New Paris, Elkhart County, Indiana, United States
---
Newark, Essex County, New Jersey, United States
---
Newark, Essex County, New Jersey, United States
---
Heller Field, Homerlea Avenue, Hopatcong, Sussex County, New Jersey, 07843, United States
---
Oskaloosa, Mahaska County, Iowa, United States
---
Cleveland, Cuyahoga County, Ohio, United States
---
Cartagena de Indias, Dique, Bolívar, RAP Caribe, Colombia
---
Bedford, England, MK40 1SU, United Kingdom
---
College Park, Prince George's County, Maryland, United States
---
Morristown, Morris County, New Jersey, 07960, United States
---
Pemberville, Wood County, Ohio, United States
---
None
Skipping: None
None
Skipping: None
València, Comarca de València, València / Valencia, Comunitat Valenciana, España
---
Batavia, Batavia Township, Kane County, Illinois, 60510, United States
---
Tie Siding, Albany County, Wyoming, 82084, United States
---
Greater London, England, United Kingdom, London
---
Barcelona, Barcelonès, Barcelona, Catalunya, 08001, España
---
None
Skipping: None
La Crosse, La Crosse County, Wisconsin, United States
---
None
Skipping: None
Elko County, Nevada, United States
---
Point Cook, Melbourne, City of Wyndham, Victoria, 3030, Australia
---
Mitchel Field Way, Avalon Garden City, Uniondale, Town of Hempstead, Nassau County, New York, 11549, United States
---
Cleveland, Cuyahoga County, Ohio, United States
---
Rock Springs, Sweetwater County, Wyoming, 82901, United States
---
Toulouse, Haute-Garonne, Occitanie, France métropolitaine, France
---
North Lincolnshire, England, United Kingdom, Humber
---
Paris, Île-de-France, France métropolitaine, France
---
None
Skipping: None
Paris, Île-de-France, France métropolitaine, France
---
None
Skipping: None
شمال المحيط الأطلسي
---
Grandvilliers, Beauvais, Oise, Hauts-de-France, France métropolitaine, 60210, France
---
None
Skipping: None
Harbour Mini Market And Off License, Lower Sandgate Road, Foord, Folkestone, Folkestone and Hythe, Kent, England, CT20 1QJ, United Kingdom
---
Fuhlsbüttel, Hamburg-Nord, Hamburg, Deutschland
---
None
Skipping: None
Cádiz, Bahía de Cádiz, Cádiz, Andalucía, España
---
Indianapolis, Marion County, Indiana, United States
---
Venezia, Veneto, 30121-30176, Italia
---
Larache العرائش, Pachalik de Larache باشوية العرائش, Province de Larache إقليم العرائش, Tanger-Tétouan-Al Hoceïma ⵟⴰⵏⵊ-ⵟⵉⵜⴰⵡⵉⵏ-ⵍⵃⵓⵙⵉⵎⴰ طنجة تطوان الحسيمة, Maroc ⵍⵎⵖⵔⵉⴱ المغرب
---
Fès ⴼⴰⵙ فاس, Pachalik du Fes باشوية فاس, Préfecture de Fès عمالة فاس, Fès-Meknès ⴼⴰⵙ-ⵎⴽⵏⴰⵙ فاس-مكناس, Maroc ⵍⵎⵖⵔⵉⴱ المغرب
---
Ajaccio, Corse-du-Sud, Corse, France métropolitaine, France
---
Barcelona, Barcelonès, Barcelona, Catalunya, 08001, España
---
Cheyenne, Laramie County, Wyoming, United States
---
Meadville, Crawford County, Pennsylvania, 16335, United States
---
None
Skipping: None
None
Skipping: None
București, România
---
Colton, Washington Township, Henry County, Ohio, 43510, United States
---
None
Skipping: None
Russia, Shelby County, Ohio, United States
---
Castalia, Margaretta Township, Erie County, Ohio, United States
---
None
Skipping: None
Egbert, Laramie County, Wyoming, United States
---
Grampian, Clearfield County, Pennsylvania, United States
---
None
Skipping: None
Barranquilla, Atlántico, RAP Caribe, Colombia
---
United States
---
Cabrerolles, Béziers, Hérault, Occitanie, France métropolitaine, 34480, France
---
Goshen, Elkhart County, Indiana, United States
---
Purley, London Borough of Croydon, London, Greater London, England, CR8 2FQ, United Kingdom
---
None
Skipping: None
Alacant / Alicante, l'Alacantí, Alacant / Alicante, Comunitat Valenciana, España
---
Landrecies, Avesnes-sur-Helpe, Nord, Hauts-de-France, France métropolitaine, 59550, France
---
Alacant / Alicante, l'Alacantí, Alacant / Alicante, Comunitat Valenciana, España
---
Roses, Alt Empordà, Girona, Catalunya, 17480, España
---
Budapest, Közép-Magyarország, Magyarország
---
Caldwell, Noble County, Ohio, United States
---
Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France
---
Nittany Drive, Summitville, Columbiana County, Ohio, 43962, United States
---
نواذيبو, ولاية داخلة نواذيبو, موريتانيا
---
Off Course, 22, Rue Rosamel, La Voute de Boulogne, Étaples, Montreuil-sur-Mer, Pas-de-Calais, Hauts-de-France, France métropolitaine, 62630, France
---
Montpelier, Superior Township, Williams County, Ohio, United States
---
Staaken, Spandau, Berlin, 13591, Deutschland
---
English Channel / La Manche
---
None
Skipping: None
Wolvertem, Meise, Halle-Vilvoorde, Vlaams-Brabant, Vlaanderen, 1861, België / Belgique / Belgien
---
Juist, Landkreis Aurich, Niedersachsen, 26571, Deutschland
---
Chilham, Shottenden, Ashford, Kent, England, United Kingdom, Little Hurst Wood
---
City of New York, New York, United States
---
None
Skipping: None
Büren, Kreis Paderborn, Nordrhein-Westfalen, 33142, Deutschland
---
English Channel / La Manche
---
Maroc ⵍⵎⵖⵔⵉⴱ المغرب, Cap Boujdour رأس بوجدور
---
Medford, Jackson County, Oregon, United States
---
Estaires, Dunkerque, Nord, Hauts-de-France, France métropolitaine, 59940, France
---
Rabat ⵔⴱⴰⵟ الرباط, باشوية الرباط, عمالة الرباط, Rabat-Salé-Kénitra ⵔⴱⴰⵟ-ⵙⵍⴰ-ⵇⵏⵉⵟⵔⴰ الرباط-سلا-القنيطرة, Maroc ⵍⵎⵖⵔⵉⴱ المغرب
---
Tambo, Blackall Tambo Regional, Queensland, Australia
---
Adams County, Idaho, United States, King Hill
---
Floh, Floh-Seligenthal, Landkreis Schmalkalden-Meiningen, Thüringen, 98593, Deutschland
---
Goshen, Elkhart County, Indiana, United States
---
Alger ⴷⵣⴰⵢⴻⵔ الجزائر, Alger Centre ⴷⵣⴰⵢⴻⵔ ⵜⴰⵍⴻⵎⵎⴰⵙⵜ الجزائر الوسطى, Daïra Sidi M'Hamed, Alger, 16007, Algérie ⵍⵣⵣⴰⵢⴻⵔ الجزائر
---
Amöneburg, Landkreis Marburg-Biedenkopf, Hessen, Deutschland
---
Sevenoaks, Kent, England, United Kingdom
---
Willington, Capitol Planning Region, Connecticut, 06279, United States
---
Hadley Way, Morris Township, Morris County, New Jersey, 07960, United States
---
Atlantic Ocean, Cameron County, Texas, 78597, United States
---
Schleiz, Saale-Orla-Kreis, Thüringen, Deutschland
---
None
Skipping: None
New Brunswick, Middlesex County, New Jersey, United States
---
Strasbourg, Bas-Rhin, Grand Est, France métropolitaine, France
---
None
Skipping: None
Corunna, DeKalb County, Indiana, United States
---
Almería, Andalucía, España
---
None
Skipping: None
None
Skipping: None
Solís, Maldonado, 20302, Uruguay
---
L'Hospitalet, Mazères, Pamiers, Ariège, Occitanie, France métropolitaine, 09270, France
---
Tarragona, Tarragonès, Tarragona, Catalunya, 43001, España
---
Almería, Andalucía, España
---
Marquette, Hamilton County, Nebraska, United States
---
None
Skipping: None
Wyoming, Elm Walk, Ward 2, Washington, District of Columbia, 20227, United States
---
Minuesa, San Martín de Montalbán, Toledo, Castilla-La Mancha, 45165, España
---
None
Skipping: None
Dearborn Court, Presidents, Edina, Hennepin County, Minnesota, 55343, United States
---

Radevormwald, Oberbergischer Kreis, Nordrhein-Westfalen, 42477, Deutschland
---
Frankfurt am Main, Hessen, Deutschland
---
Lebo, Coffey County, Kansas, United States
---
None
Skipping: None
Purley, London Borough of Croydon, London, Greater London, England, CR8 2FQ, United Kingdom
---
Charlois, Rotterdam, Zuid-Holland, Nederland, Waalhaven
---
None
Skipping: None
Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France
---
Adelaide Hills Council, South Australia, Australia
---
Pocatello, Bannock County, Idaho, United States
---
None
Skipping: None
Girona, Gironès, Girona, Catalunya, España
---
Polk, Venango County, Pennsylvania, United States
---
Valence, Drôme, Auvergne-Rhône-Alpes, France métropolitaine, 26000, France
---
None
Skipping: None
Edgerton, St. Joseph Township, Williams County, Ohio, United States
---
Edgerton, St. Joseph Township, Williams County, Ohio, United States
---
Bristol Township, Trumbull County, Ohio, 44402, United States
---
Spur, Dickens County, Texas, United States
---
Near Offices, Travessa Doutor Edésio da Silveira, Santa Rosa, Região Praias da Baía, Niterói, Região Geográfica Imediata do Rio de Janeiro, Região Metropolitana do Rio de Janeiro, Região Geográfica Intermediária do Rio de Janeiro, Rio de Janeiro, Região Sudeste, 24240-225, Brasil
---
Spokane Valley, Spokane County, Washington, United States
---
Letzlingen, Gardelegen, Altmarkkreis Salzwedel, Sachsen-Anhalt, Deutschland
---
Huron County, Ohio, United States
---
Chattanooga, Hamilton County, East Tennessee, Tennessee, United States
---
Reims, Marne, Grand Est, France métropolitaine, 51100, France
---
Stafford Springs, Stafford, Capitol Planning Region, Connecticut, 06075, United States
---
Cove, Union County, Oregon, 97824, United States
---
None
Skipping: None
off road, Ait Hadi ⴰⵢⵜ ⵀⴰⴷⵉ ايت هادي, Ait Hadi ايت هادي, Caïdat de Chichaoua قيادة شيشاوة, Cercle de Chichaoua دائرة شيشاوة, Province de Chichaoua ⵜⴰⵙⴳⴰ ⵏ ⵛⵉⵛⴰⵡⴰ إقليم شيشاوة, Marrakech-Safi ⵎⵕⵕⴰⴽⵛ-ⴰⵙⴼⵉ مراكش-أسفي, 41102, Maroc ⵍⵎⵖⵔⵉⴱ المغرب
---
Morgantown, Monongalia County, West Virginia, United States
---
Newark, Essex County, New Jersey, United States
---
None
Skipping: None
San Diego, San Diego County, California, United States
---
Tampico, Tamaulipas, 89080, México
---
Tököl, Szigetszentmiklósi járás, Pest vármegye, Közép-Magyarország, Magyarország
---
Alger ⴷⵣⴰⵢⴻⵔ الجزائر, Alger Centre ⴷⵣⴰⵢⴻⵔ ⵜⴰⵍⴻⵎⵎⴰⵙⵜ الجزائر الوسطى, Daïra Sidi M'Hamed, Alger, 16007, Algérie ⵍⵣⵣⴰⵢⴻⵔ الجزائر
---

In [19]:
print(locations)

[{'location': Location(North Fort Myer Drive, Rosslyn, Arlington, Arlington County, Virginia, 22209, United States, (38.8967386, -77.0724024, 0.0)), 'lat': 38.8967386, 'lon': -77.0724024}, {'location': Location(Juvisy-sur-Orge, Palaiseau, Essonne, Île-de-France, France métropolitaine, 91260, France, (48.6904063, 2.373809, 0.0)), 'lat': 48.6904063, 'lon': 2.373809}, {'location': Location(Atlantic City, Atlantic County, New Jersey, 08401, United States, (39.3642852, -74.4229351, 0.0)), 'lat': 39.3642852, 'lon': -74.4229351}, {'location': Location(Victoria, Capital Regional District, British Columbia, Canada, (48.4283182, -123.3649533, 0.0)), 'lat': 48.4283182, 'lon': -123.3649533}, {'location': Location(Tienen, Leuven, Vlaams-Brabant, Vlaanderen, 3300, België / Belgique / Belgien, (50.8074825, 4.9371775, 0.0)), 'lat': 50.8074825, 'lon': 4.9371775}, {'location': Location(Billericay, Basildon, Essex, England, United Kingdom, (51.6284395, 0.4218142, 0.0)), 'lat': 51.6284395, 'lon': 0.4218142}, {'location': Location(Potters Bar, Hertsmere, Hertfordshire, England, EN6 1QG, United Kingdom, (51.6958889, -0.1848935, 0.0)), 'lat': 51.6958889, 'lon': -0.1848935}, {'location': Location(Mainz, Rheinland-Pfalz, Deutschland, (50.0012314, 8.2762513, 0.0)), 'lat': 50.0012314, 'lon': 8.2762513}, {'location': Location(Brainy Cut Off, Hazelvale, Shire Of Denmark, Western Australia, Australia, (-34.9595334, 116.8280129, 0.0)), 'lat': -34.9595334, 'lon': 116.8280129}, {'location': Location(Elizabeth, Union County, New Jersey, United States, (40.6639916, -74.2107006, 0.0)), 'lat': 40.6639916, 'lon': -74.2107006}, {'location': Location(Cleveland, Cuyahoga County, Ohio, United States, (41.4996574, -81.6936772, 0.0)), 'lat': 41.4996574, 'lon': -81.6936772}, {'location': Location(Dix Run Road, Union Township, Centre County, Pennsylvania, 16844, United States, (40.907199, -77.938042, 0.0)), 'lat': 40.907199, 'lon': -77.938042}, {'location': Location(Chicago, Cook County, Illinois, United States, (41.8755616, -87.6244212, 0.0)), 'lat': 41.8755616, 'lon': -87.6244212}, {'location': Location(Verona, Veneto, 37121-37142, Italia, (45.4384958, 10.9924122, 0.0)), 'lat': 45.4384958, 'lon': 10.9924122}, {'location': Location(Newcastle upon Tyne, North of Tyne, England, United Kingdom, (54.9738474, -1.6131572, 0.0)), 'lat': 54.9738474, 'lon': -1.6131572}, {'location': Location(Washington Township, Morris County, New Jersey, United States, Long Valley, (40.78168135, -74.75923279813415, 0.0)), 'lat': 40.78168135, 'lon': -74.75923279813415}, {'location': Location(New Paris, Elkhart County, Indiana, United States, (41.504546500000004, -85.82410851437608, 0.0)), 'lat': 41.504546500000004, 'lon': -85.82410851437608}, {'location': Location(Newark, Essex County, New Jersey, United States, (40.735657, -74.1723667, 0.0)), 'lat': 40.735657, 'lon': -74.1723667}, {'location': Location(Newark, Essex County, New Jersey, United States, (40.735657, -74.1723667, 0.0)), 'lat': 40.735657, 'lon': -74.1723667}, {'location': Location(Heller Field, Homerlea Avenue, Hopatcong, Sussex County, New Jersey, 07843, United States, (40.9354609, -74.6611513311839, 0.0)), 'lat': 40.9354609, 'lon': -74.6611513311839}, {'location': Location(Oskaloosa, Mahaska County, Iowa, United States, (41.2951037, -92.6448451, 0.0)), 'lat': 41.2951037, 'lon': -92.6448451}, {'location': Location(Cleveland, Cuyahoga County, Ohio, United States, (41.4996574, -81.6936772, 0.0)), 'lat': 41.4996574, 'lon': -81.6936772}, {'location': Location(Cartagena de Indias, Dique, Bolívar, RAP Caribe, Colombia, (10.4266746, -75.5443419, 0.0)), 'lat': 10.4266746, 'lon': -75.5443419}, {'location': Location(Bedford, England, MK40 1SU, United Kingdom, (52.1363806, -0.4675041, 0.0)), 'lat': 52.1363806, 'lon': -0.4675041}, {'location': Location(College Park, Prince George's County, Maryland, United States, (38.980666, -76.9369189, 0.0)), 'lat': 38.980666, 'lon': -76.9369189}, {'location': Location(Morristown, Morris County, New Jersey, 07960, United States, (40.7970382, -74.4809868, 0.0)), 'lat': 40.7970382, 'lon': -74.4809868}, {'location': Location(Pemberville, Wood County, Ohio, United States, (41.4108855, -83.46104, 0.0)), 'lat': 41.4108855, 'lon': -83.46104}, {'location': Location(València, Comarca de València, València / Valencia, Comunitat Valenciana, España, (39.4697065, -0.3763353, 0.0)), 'lat': 39.4697065, 'lon': -0.3763353}, {'location': Location(Batavia, Batavia Township, Kane County, Illinois, 60510, United States, (41.8500284, -88.3125738, 0.0)), 'lat': 41.8500284, 'lon': -88.3125738}, {'location': Location(Tie Siding, Albany County, Wyoming, 82084, United States, (41.0812698, -105.5091717, 0.0)), 'lat': 41.0812698, 'lon': -105.5091717}, {'location': Location(Greater London, England, United Kingdom, London, (51.4893335, -0.14405508452768728, 0.0)), 'lat': 51.4893335, 'lon': -0.14405508452768728}, {'location': Location(Barcelona, Barcelonès, Barcelona, Catalunya, 08001, España, (41.3828939, 2.1774322, 0.0)), 'lat': 41.3828939, 'lon': 2.1774322}, {'location': Location(La Crosse, La Crosse County, Wisconsin, United States, (43.8122836, -91.2514355, 0.0)), 'lat': 43.8122836, 'lon': -91.2514355}, {'location': Location(Elko County, Nevada, United States, (41.1958128, -115.3272864, 0.0)), 'lat': 41.1958128, 'lon': -115.3272864}, {'location': Location(Point Cook, Melbourne, City of Wyndham, Victoria, 3030, Australia, (-37.9064862, 144.7533059, 0.0)), 'lat': -37.9064862, 'lon': 144.7533059}, {'location': Location(Mitchel Field Way, Avalon Garden City, Uniondale, Town of Hempstead, Nassau County, New York, 11549, United States, (40.734982, -73.5944933, 0.0)), 'lat': 40.734982, 'lon': -73.5944933}, {'location': Location(Cleveland, Cuyahoga County, Ohio, United States, (41.4996574, -81.6936772, 0.0)), 'lat': 41.4996574, 'lon': -81.6936772}, {'location': Location(Rock Springs, Sweetwater County, Wyoming, 82901, United States, (41.5860557, -109.2194544, 0.0)), 'lat': 41.5860557, 'lon': -109.2194544}, {'location': Location(Toulouse, Haute-Garonne, Occitanie, France métropolitaine, France, (43.6044622, 1.4442469, 0.0)), 'lat': 43.6044622, 'lon': 1.4442469}, {'location': Location(North Lincolnshire, England, United Kingdom, Humber, (53.7124015, -0.3652257, 0.0)), 'lat': 53.7124015, 'lon': -0.3652257}, {'location': Location(Paris, Île-de-France, France métropolitaine, France, (48.8534951, 2.3483915, 0.0)), 'lat': 48.8534951, 'lon': 2.3483915}, {'location': Location(Paris, Île-de-France, France métropolitaine, France, (48.8534951, 2.3483915, 0.0)), 'lat': 48.8534951, 'lon': 2.3483915}, {'location': Location(شمال المحيط الأطلسي, (40.0, -40.0, 0.0)), 'lat': 40.0, 'lon': -40.0}, {'location': Location(Grandvilliers, Beauvais, Oise, Hauts-de-France, France métropolitaine, 60210, France, (49.6647765, 1.9428278, 0.0)), 'lat': 49.6647765, 'lon': 1.9428278}, {'location': Location(Harbour Mini Market And Off License, Lower Sandgate Road, Foord, Folkestone, Folkestone and Hythe, Kent, England, CT20 1QJ, United Kingdom, (51.0791366, 1.1841744, 0.0)), 'lat': 51.0791366, 'lon': 1.1841744}, {'location': Location(Fuhlsbüttel, Hamburg-Nord, Hamburg, Deutschland, (53.6323399, 10.0233695, 0.0)), 'lat': 53.6323399, 'lon': 10.0233695}, {'location': Location(Cádiz, Bahía de Cádiz, Cádiz, Andalucía, España, (36.5297438, -6.2928976, 0.0)), 'lat': 36.5297438, 'lon': -6.2928976}, {'location': Location(Indianapolis, Marion County, Indiana, United States, (39.7683331, -86.1583502, 0.0)), 'lat': 39.7683331, 'lon': -86.1583502}, {'location': Location(Venezia, Veneto, 30121-30176, Italia, (45.4371908, 12.3345898, 0.0)), 'lat': 45.4371908, 'lon': 12.3345898}, {'location': Location(Larache العرائش, Pachalik de Larache باشوية العرائش, Province de Larache إقليم العرائش, Tanger-Tétouan-Al Hoceïma ⵟⴰⵏⵊ-ⵟⵉⵜⴰⵡⵉⵏ-ⵍⵃⵓⵙⵉⵎⴰ طنجة تطوان الحسيمة, Maroc ⵍⵎⵖⵔⵉⴱ المغرب, (35.1952327, -6.152913, 0.0)), 'lat': 35.1952327, 'lon': -6.152913}, {'location': Location(Fès ⴼⴰⵙ فاس, Pachalik du Fes باشوية فاس, Préfecture de Fès عمالة فاس, Fès-Meknès ⴼⴰⵙ-ⵎⴽⵏⴰⵙ فاس-مكناس, Maroc ⵍⵎⵖⵔⵉⴱ المغرب, (34.0346534, -5.0161926, 0.0)), 'lat': 34.0346534, 'lon': -5.0161926}, {'location': Location(Ajaccio, Corse-du-Sud, Corse, France métropolitaine, France, (41.9263991, 8.7376029, 0.0)), 'lat': 41.9263991, 'lon': 8.7376029}, {'location': Location(Barcelona, Barcelonès, Barcelona, Catalunya, 08001, España, (41.3828939, 2.1774322, 0.0)), 'lat': 41.3828939, 'lon': 2.1774322}, {'location': Location(Cheyenne, Laramie County, Wyoming, United States, (41.139981, -104.820246, 0.0)), 'lat': 41.139981, 'lon': -104.820246}, {'location': Location(Meadville, Crawford County, Pennsylvania, 16335, United States, (41.641445, -80.151449, 0.0)), 'lat': 41.641445, 'lon': -80.151449}, {'location': Location(București, România, (44.4361414, 26.1027202, 0.0)), 'lat': 44.4361414, 'lon': 26.1027202}, {'location': Location(Colton, Washington Township, Henry County, Ohio, 43510, United States, (41.4647742, -83.9524442, 0.0)), 'lat': 41.4647742, 'lon': -83.9524442}, {'location': Location(Russia, Shelby County, Ohio, United States, (40.2338211, -84.4096729, 0.0)), 'lat': 40.2338211, 'lon': -84.4096729}, {'location': Location(Castalia, Margaretta Township, Erie County, Ohio, United States, (41.4000523, -82.8085204, 0.0)), 'lat': 41.4000523, 'lon': -82.8085204}, {'location': Location(Egbert, Laramie County, Wyoming, United States, (41.1710716, -104.2552567, 0.0)), 'lat': 41.1710716, 'lon': -104.2552567}, {'location': Location(Grampian, Clearfield County, Pennsylvania, United States, (40.9658932, -78.6130822, 0.0)), 'lat': 40.9658932, 'lon': -78.6130822}, {'location': Location(Barranquilla, Atlántico, RAP Caribe, Colombia, (11.0101922, -74.8231794084391, 0.0)), 'lat': 11.0101922, 'lon': -74.8231794084391}, {'location': Location(United States, (39.7837304, -100.445882, 0.0)), 'lat': 39.7837304, 'lon': -100.445882}, {'location': Location(Cabrerolles, Béziers, Hérault, Occitanie, France métropolitaine, 34480, France, (43.5445, 3.12514, 0.0)), 'lat': 43.5445, 'lon': 3.12514}, {'location': Location(Goshen, Elkhart County, Indiana, United States, (41.5850394, -85.8344491, 0.0)), 'lat': 41.5850394, 'lon': -85.8344491}, {'location': Location(Purley, London Borough of Croydon, London, Greater London, England, CR8 2FQ, United Kingdom, (51.3388112, -0.1158589, 0.0)), 'lat': 51.3388112, 'lon': -0.1158589}, {'location': Location(Alacant / Alicante, l'Alacantí, Alacant / Alicante, Comunitat Valenciana, España, (38.3436365, -0.4881708, 0.0)), 'lat': 38.3436365, 'lon': -0.4881708}, {'location': Location(Landrecies, Avesnes-sur-Helpe, Nord, Hauts-de-France, France métropolitaine, 59550, France, (50.1250142, 3.6913023, 0.0)), 'lat': 50.1250142, 'lon': 3.6913023}, {'location': Location(Alacant / Alicante, l'Alacantí, Alacant / Alicante, Comunitat Valenciana, España, (38.3436365, -0.4881708, 0.0)), 'lat': 38.3436365, 'lon': -0.4881708}, {'location': Location(Roses, Alt Empordà, Girona, Catalunya, 17480, España, (42.2632018, 3.1755328, 0.0)), 'lat': 42.2632018, 'lon': 3.1755328}, {'location': Location(Budapest, Közép-Magyarország, Magyarország, (47.4978918, 19.0401609, 0.0)), 'lat': 47.4978918, 'lon': 19.0401609}, {'location': Location(Caldwell, Noble County, Ohio, United States, (39.7478508, -81.5165127, 0.0)), 'lat': 39.7478508, 'lon': -81.5165127}, {'location': Location(Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France, (48.6762624, 5.8941759, 0.0)), 'lat': 48.6762624, 'lon': 5.8941759}, {'location': Location(Nittany Drive, Summitville, Columbiana County, Ohio, 43962, United States, (40.6799498, -80.8880137, 0.0)), 'lat': 40.6799498, 'lon': -80.8880137}, {'location': Location(نواذيبو, ولاية داخلة نواذيبو, موريتانيا, (20.9127045, -17.0503094, 0.0)), 'lat': 20.9127045, 'lon': -17.0503094}, {'location': Location(Off Course, 22, Rue Rosamel, La Voute de Boulogne, Étaples, Montreuil-sur-Mer, Pas-de-Calais, Hauts-de-France, France métropolitaine, 62630, France, (50.5147177, 1.6374135, 0.0)), 'lat': 50.5147177, 'lon': 1.6374135}, {'location': Location(Montpelier, Superior Township, Williams County, Ohio, United States, (41.5844951, -84.6055076, 0.0)), 'lat': 41.5844951, 'lon': -84.6055076}, {'location': Location(Staaken, Spandau, Berlin, 13591, Deutschland, (52.5322705, 13.1433666, 0.0)), 'lat': 52.5322705, 'lon': 13.1433666}, {'location': Location(English Channel / La Manche, (50.4924668, 1.054682, 0.0)), 'lat': 50.4924668, 'lon': 1.054682}, {'location': Location(Wolvertem, Meise, Halle-Vilvoorde, Vlaams-Brabant, Vlaanderen, 1861, België / Belgique / Belgien, (50.9510266, 4.3085198, 0.0)), 'lat': 50.9510266, 'lon': 4.3085198}, {'location': Location(Juist, Landkreis Aurich, Niedersachsen, 26571, Deutschland, (53.6784483, 6.9956079, 0.0)), 'lat': 53.6784483, 'lon': 6.9956079}, {'location': Location(Chilham, Shottenden, Ashford, Kent, England, United Kingdom, Little Hurst Wood, (51.24725825, 0.9306338593499359, 0.0)), 'lat': 51.24725825, 'lon': 0.9306338593499359}, {'location': Location(City of New York, New York, United States, (40.7127281, -74.0060152, 0.0)), 'lat': 40.7127281, 'lon': -74.0060152}, {'location': Location(Büren, Kreis Paderborn, Nordrhein-Westfalen, 33142, Deutschland, (51.5497446, 8.573474968213432, 0.0)), 'lat': 51.5497446, 'lon': 8.573474968213432}, {'location': Location(English Channel / La Manche, (50.4924668, 1.054682, 0.0)), 'lat': 50.4924668, 'lon': 1.054682}, {'location': Location(Maroc ⵍⵎⵖⵔⵉⴱ المغرب, Cap Boujdour رأس بوجدور, (26.1233266, -14.5005584, 0.0)), 'lat': 26.1233266, 'lon': -14.5005584}, {'location': Location(Medford, Jackson County, Oregon, United States, (42.3264181, -122.8718605, 0.0)), 'lat': 42.3264181, 'lon': -122.8718605}, {'location': Location(Estaires, Dunkerque, Nord, Hauts-de-France, France métropolitaine, 59940, France, (50.6440257, 2.7226506, 0.0)), 'lat': 50.6440257, 'lon': 2.7226506}, {'location': Location(Rabat ⵔⴱⴰⵟ الرباط, باشوية الرباط, عمالة الرباط, Rabat-Salé-Kénitra ⵔⴱⴰⵟ-ⵙⵍⴰ-ⵇⵏⵉⵟⵔⴰ الرباط-سلا-القنيطرة, Maroc ⵍⵎⵖⵔⵉⴱ المغرب, (34.02236, -6.8340222, 0.0)), 'lat': 34.02236, 'lon': -6.8340222}, {'location': Location(Tambo, Blackall Tambo Regional, Queensland, Australia, (-24.9071275, 146.33124025447535, 0.0)), 'lat': -24.9071275, 'lon': 146.33124025447535}, {'location': Location(Adams County, Idaho, United States, King Hill, (44.5204431, -116.3345874, 0.0)), 'lat': 44.5204431, 'lon': -116.3345874}, {'location': Location(Floh, Floh-Seligenthal, Landkreis Schmalkalden-Meiningen, Thüringen, 98593, Deutschland, (50.770890449999996, 10.496178825357095, 0.0)), 'lat': 50.770890449999996, 'lon': 10.496178825357095}, {'location': Location(Goshen, Elkhart County, Indiana, United States, (41.5850394, -85.8344491, 0.0)), 'lat': 41.5850394, 'lon': -85.8344491}, {'location': Location(Alger ⴷⵣⴰⵢⴻⵔ الجزائر, Alger Centre ⴷⵣⴰⵢⴻⵔ ⵜⴰⵍⴻⵎⵎⴰⵙⵜ الجزائر الوسطى, Daïra Sidi M'Hamed, Alger, 16007, Algérie ⵍⵣⵣⴰⵢⴻⵔ الجزائر, (36.7753606, 3.0601882, 0.0)), 'lat': 36.7753606, 'lon': 3.0601882}, {'location': Location(Amöneburg, Landkreis Marburg-Biedenkopf, Hessen, Deutschland, (50.79946485, 8.941291794880504, 0.0)), 'lat': 50.79946485, 'lon': 8.941291794880504}, {'location': Location(Sevenoaks, Kent, England, United Kingdom, (51.27452185, 0.1961165562194977, 0.0)), 'lat': 51.27452185, 'lon': 0.1961165562194977}, {'location': Location(Willington, Capitol Planning Region, Connecticut, 06279, United States, (41.874428, -72.2598935, 0.0)), 'lat': 41.874428, 'lon': -72.2598935}, {'location': Location(Hadley Way, Morris Township, Morris County, New Jersey, 07960, United States, (40.775517, -74.459968, 0.0)), 'lat': 40.775517, 'lon': -74.459968}, {'location': Location(Atlantic Ocean, Cameron County, Texas, 78597, United States, (26.0745309, -97.160961, 0.0)), 'lat': 26.0745309, 'lon': -97.160961}, {'location': Location(Schleiz, Saale-Orla-Kreis, Thüringen, Deutschland, (50.5590505, 11.8040013, 0.0)), 'lat': 50.5590505, 'lon': 11.8040013}, {'location': Location(New Brunswick, Middlesex County, New Jersey, United States, (40.4862174, -74.4518173, 0.0)), 'lat': 40.4862174, 'lon': -74.4518173}, {'location': Location(Strasbourg, Bas-Rhin, Grand Est, France métropolitaine, France, (48.584614, 7.7507127, 0.0)), 'lat': 48.584614, 'lon': 7.7507127}, {'location': Location(Corunna, DeKalb County, Indiana, United States, (41.4372721, -85.1471934, 0.0)), 'lat': 41.4372721, 'lon': -85.1471934}, {'location': Location(Almería, Andalucía, España, (36.8414197, -2.4628135, 0.0)), 'lat': 36.8414197, 'lon': -2.4628135}, {'location': Location(Solís, Maldonado, 20302, Uruguay, (-34.7923733, -55.3837161, 0.0)), 'lat': -34.7923733, 'lon': -55.3837161}, {'location': Location(L'Hospitalet, Mazères, Pamiers, Ariège, Occitanie, France métropolitaine, 09270, France, (43.2297425, 1.7138034, 0.0)), 'lat': 43.2297425, 'lon': 1.7138034}, {'location': Location(Tarragona, Tarragonès, Tarragona, Catalunya, 43001, España, (41.1172364, 1.2546057, 0.0)), 'lat': 41.1172364, 'lon': 1.2546057}, {'location': Location(Almería, Andalucía, España, (36.8414197, -2.4628135, 0.0)), 'lat': 36.8414197, 'lon': -2.4628135}, {'location': Location(Marquette, Hamilton County, Nebraska, United States, (41.0070132, -98.0114268, 0.0)), 'lat': 41.0070132, 'lon': -98.0114268}, {'location': Location(Wyoming, Elm Walk, Ward 2, Washington, District of Columbia, 20227, United States, (38.889820150000006, -77.04024448558823, 0.0)), 'lat': 38.889820150000006, 'lon': -77.04024448558823}, {'location': Location(Minuesa, San Martín de Montalbán, Toledo, Castilla-La Mancha, 45165, España, (39.6903253, -4.4273603, 0.0)), 'lat': 39.6903253, 'lon': -4.4273603}, {'location': Location(Dearborn Court, Presidents, Edina, Hennepin County, Minnesota, 55343, United States, (44.9189015, -93.3906083, 0.0)), 'lat': 44.9189015, 'lon': -93.3906083}, {'location': Location(Radevormwald, Oberbergischer Kreis, Nordrhein-Westfalen, 42477, Deutschland, (51.2029228, 7.3571392, 0.0)), 'lat': 51.2029228, 'lon': 7.3571392}, {'location': Location(Frankfurt am Main, Hessen, Deutschland, (50.1106444, 8.6820917, 0.0)), 'lat': 50.1106444, 'lon': 8.6820917}, {'location': Location(Lebo, Coffey County, Kansas, United States, (38.4166818, -95.8530441, 0.0)), 'lat': 38.4166818, 'lon': -95.8530441}, {'location': Location(Purley, London Borough of Croydon, London, Greater London, England, CR8 2FQ, United Kingdom, (51.3388112, -0.1158589, 0.0)), 'lat': 51.3388112, 'lon': -0.1158589}, {'location': Location(Charlois, Rotterdam, Zuid-Holland, Nederland, Waalhaven, (51.8921899, 4.4406806, 0.0)), 'lat': 51.8921899, 'lon': 4.4406806}, {'location': Location(Toul, Meurthe-et-Moselle, Grand Est, France métropolitaine, 54200, France, (48.6762624, 5.8941759, 0.0)), 'lat': 48.6762624, 'lon': 5.8941759}, {'location': Location(Adelaide Hills Council, South Australia, Australia, (-34.90135105, 138.82932020091445, 0.0)), 'lat': -34.90135105, 'lon': 138.82932020091445}, {'location': Location(Pocatello, Bannock County, Idaho, United States, (42.8620287, -112.450627, 0.0)), 'lat': 42.8620287, 'lon': -112.450627}, {'location': Location(Girona, Gironès, Girona, Catalunya, España, (41.9793006, 2.8199439, 0.0)), 'lat': 41.9793006, 'lon': 2.8199439}, {'location': Location(Polk, Venango County, Pennsylvania, United States, (41.3670014, -79.9292233, 0.0)), 'lat': 41.3670014, 'lon': -79.9292233}, {'location': Location(Valence, Drôme, Auvergne-Rhône-Alpes, France métropolitaine, 26000, France, (44.9332277, 4.8920811, 0.0)), 'lat': 44.9332277, 'lon': 4.8920811}, {'location': Location(Edgerton, St. Joseph Township, Williams County, Ohio, United States, (41.4487184, -84.7480385, 0.0)), 'lat': 41.4487184, 'lon': -84.7480385}, {'location': Location(Edgerton, St. Joseph Township, Williams County, Ohio, United States, (41.4487184, -84.7480385, 0.0)), 'lat': 41.4487184, 'lon': -84.7480385}, {'location': Location(Bristol Township, Trumbull County, Ohio, 44402, United States, (41.3874649, -80.8692679, 0.0)), 'lat': 41.3874649, 'lon': -80.8692679}, {'location': Location(Spu

In [20]:
new_df = pd.DataFrame(locations)
new_df

                                              location        lat         lon
0    (North Fort Myer Drive, Rosslyn, Arlington, Ar...  38.896739  -77.072402
1    (Juvisy-sur-Orge, Palaiseau, Essonne, Île-de-F...  48.690406    2.373809
2    (Atlantic City, Atlantic County, New Jersey, 0...  39.364285  -74.422935
3    (Victoria, Capital Regional District, British ...  48.428318 -123.364953
4    (Tienen, Leuven, Vlaams-Brabant, Vlaanderen, 3...  50.807482    4.937177
..                                                 ...        ...         ...
137  (Newark, Essex County, New Jersey, United Stat...  40.735657  -74.172367
138  (San Diego, San Diego County, California, Unit...  32.717420 -117.162773
139  (Tampico, Tamaulipas, 89080, México, (22.21576...  22.215762  -97.857771
140  (Tököl, Szigetszentmiklósi járás, Pest vármegy...  47.322679   18.963243
141  (Alger ⴷⵣⴰⵢⴻⵔ الجزائر, Alger Centre ⴷⵣⴰⵢⴻⵔ ⵜⴰⵍ...  36.775361    3.060188

[142 rows x 3 columns]

In [ ]:
#attempting to get lats and lons
# lats = np.array([])
# lons = np.array([])
# geolocator = Nominatim(timeout=10, user_agent = "jimmy")
# for row in df['location']:
#     locations = geolocator.geocode(row)
#     if location is None:
#         lats = np.append(lats, 'None')    ##its skipping this section when hitting a null value, 
#         lons = np.append(lons, 'None')    ##reading it as doesnt exist rather than none, even tho the output is none directly above
#     else:
#         lats = np.append(lats, locations.latitude)
#         lons = np.append(lons, locations.longitude)

In [ ]:
#lats

In [ ]:
# df['latitude']= lats
# df['longitude'] = lons
#all these titles are all keywords in sql, maybe unnessesary but changing for possible ease of use
#df.rename(columns = {'date':'date_','time':'time_','location':'location_','operator':'operator_'}, inplace = True)
#index will be crash id as main key
#df = df.reset_index(drop=True)

In [ ]:
#df.to_csv('plane_crash_data', encoding='utf-8', index=False)
#saved a csv becasue i got the biggest set of data before it crashed. if someone gets a full or bigger set be sure to save it.

In [21]:
new_df.to_csv('plane_crash_data_new', encoding='utf-8', index=False)